@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/NunitoSans/NunitoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

input[type="file"] {
  display: none;
}


