@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/NunitoSans/NunitoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

input[type="file"] {
  display: none;
}

.sidebar {
  height: 100vh;
}

.floating-background {
  @apply grid items-start justify-start p-10 border border-t border-gray-200 rounded-md w-full max-w-5xl;
}

.main-title {
  @apply font-bold text-2xl mb-2;
}
.subtitle {
  @apply text-gray-500 mb-5;
}